apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: example-app-dev

resources:
  - ../../base

namePrefix: dev-

replicas:
  - name: example-app
    count: 1

patchesStrategicMerge:
  - |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: example-app
    spec:
      template:
        spec:
          containers:
            - name: nginx
              resources:
                limits:
                  memory: "64Mi"
                  cpu: "100m"

configMapGenerator:
  - name: example-app-config
    behavior: merge
    literals:
      - environment=development
      - log.level=debug

